/**{
    margin: 0;
    padding:0;
    background: #414040;
    font-family: 'Product Sans', sans-serif;
}

/*Navigation Bar Styles*/
/*
.main{
    display:flex;
    padding:10px 5px 10px 5px;
    float: right;
    color:white;

}*/
nav li{
    text-decoration: none;
    list-style: none;
    padding: 10px 10px 10px 10px;
    display: inline;
}
nav a{
    text-decoration: none;
    color: rgb(192, 45, 45);
}



